{% extends "index.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<h1>Challenge</h1>
<p>
{% if not challenge %}
    There is no challenge at the moment.
    {% else %}
    The current challenge is <a href="{{ url_for('problem', problem_id=challenge.id) }}">{{ challenge.name }}</a>. You get 10 points if you're the first one to solve it.
    {% endif %}
</p>
{% endblock %}
