<!DOCTYPE html>
<html>
    <head>
        <title>Cognimatics Contest Tracking</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
 
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> 
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: { 
                    ignoreClass: ".*",
                    inlineMath: [['$','$'], ['\\(','\\)']]
                },
                MMLorHTML: {
                    prefer: {Firefox: "HTML"}
                }
            });
        </script>
        <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full"></script>
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Cognimatics contest tracker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('change_password') }}">Change password</a></li>
                    <li><a href="{{ url_for('add_problem') }}">Add problem</a></li>
                    <li><a href="{{ url_for('problems') }}">Problems</a></li>
                    <li><a href="{{ url_for('challenge') }}">Challenge</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </nav>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|safe }}
            </div>
            {% endfor %}
            {% block content %}
            <h1>Welcome {{ current_user.name or "" }}</h1>
            {% if current_user.is_authenticated() %}
            <p>You have <strong>{{ current_user.points }}</strong> points!</p>
            {% endif %}
            <p>Stuff you can do</p>
            <ul>
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('change_password') }}">Change password</a></li>
                <li><a href="{{ url_for('add_problem') }}">Add a new problem</a></li>
                <li><a href="{{ url_for('problems') }}">View problems</a></li>
                <li><a href="{{ url_for('challenge') }}">See what the current challenge is</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
            </ul>
            {% if current_user.is_authenticated and current_user.is_king %}
            <p>Since you solved the last challenge you can choose the next one by clicking <a href="{{ url_for('choose_challenge') }}">here</a>.</p>
            {% endif %}

            {% endblock %}
        </div>
    </body>
</html>
