{% macro render_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{field.label}}
    {{field(class="form-control", **kwargs)|safe}}
    {% if field.description %}
    <p class="help-block">{{field.description}}</p>
    {% endif %}
    {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% macro render_form(form, action="#") %}
<form method="POST" role="form" action="{{ action }}">
    {{ form.csrf_token }}
    {% for field in form if field.name != 'csrf_token' %}
    {{ render_field(field) }}
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
{% endmacro %}
