{% extends "index.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<h1>{{ problem.name }}</h1>
<dl>
    <dt>Added</dt>
    <dd>{{ problem.time }}</dd>
    <dt>URL</dt>
    <dd><a href="{{ problem.url }}">{{problem.url}}</a></dd>
    <dt>Actions</dt>
    <dd>
    <ul>
        <li><a href="{{ url_for('edit_problem', problem_id=problem.id) }}">Edit</a></li>
        <li><a href="{{ url_for('add_solution', problem_id=problem.id) }}">Add solution</a></li>
    </ul>    
    </dd>
    <dt>Solutions</dt>
    <dd>
    <ul>
        {% for solution in problem.solutions %}
        <li>
        <a href="{{ url_for('solution', problem_id=problem.id, solution_id=solution.id) }}">{{ solution.user }}</a>
        </li>
        {% endfor %}
    </ul>
    </dd>
</dl>
<h3>Problem text</h3>
{% if problem.problem_text %}
<div>
    {{problem.problem_text|safe}}
</div>
<h3>Sample input</h3>

{% for input in problem.inputs %}
        <h5>Input {{loop.index}}</h5>
        <p><pre>{{input}}</pre></p>
        <h5>Output {{loop.index}}</h5>
        <p><pre>{{problem.outputs[loop.index-1]}}</pre></p>
{% endfor %}
{% endif %}
{% endblock %}
