{% extends "index.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<script lang=javascript>
    $(function(){
        $("table").dataTable()
    })
</script>
<h1>Problems</h1>
<table width="100%">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Solved</th>
            <th>First solved by</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems|sort(attribute='times_solved') %}
        <tr>
            <td><a href="{{ url_for('problem', problem_id=problem.id) }}">{{ problem.name }}</a></td>
            <td>
                <span style="display: none;">{{ '%09d' % problem.times_solved}}</span>
                {% if not problem.times_solved %}
                <b>Never solved</b>
                {% else %}
                {{problem.times_solved}} time(s)</a>
                {% endif %}
            </td>
            <td>{{problem.solutions.order_by('time').first().user or "<b>Never solved</b>"|safe}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
