{% extends "index.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<h1>Ranking</h1>
<ol>
    {% for user in users %}
    <li><strong>{{user}}</strong> ({{user.points}} points)</li>
    {% endfor %}
</ol>
{% endblock %}
