{% extends "index.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<h1>Solution for "{{ solution.problem.name }}" by <strong>{{ solution.user }}</strong></h1>
<dl>
    <dt>Language</dt>
    <dd>{{ solution.language }}</dd>
    <dt>Solve date</dt>
    <dd>{{ solution.time }}</dd>
    <dt>Code</dt>
    <dd>
    <pre class="prettyprint lang-{{solution.language}}">{{ solution.code }}</pre>
    </dd>
</dl>
{% endblock %}
